# ==========================================
# CONFIGURACIÓN DE BASE DE DATOS (POSTGRESQL)
# ==========================================
POSTGRES_USER=admin_alabanza
POSTGRES_PASSWORD=tu_password_seguro_aqui
POSTGRES_DB=alabanza_db
POSTGRES_PORT=5432
# POSTGRES_HOST: Usar 'db' si se levanta con Docker Compose, o 'localhost' si se corre Node directamente
POSTGRES_HOST=db 

# ==========================================
# CONFIGURACIÓN DEL SERVIDOR BACKEND (API)
# ==========================================
PORT=3000
# Clave secreta para firmar los JSON Web Tokens (JWT). ¡Debe ser compleja en producción!
JWT_SECRET=super_secreto_desarrollo_cambiar_en_produccion

# ==========================================
# CONFIGURACIÓN DEL FRONTEND (VITE)
# ==========================================
# URL base para que el frontend sepa a dónde enviar las peticiones
VITE_API_URL=http://localhost:3000/api